/* 
    Document   : mix_1arts_04
    Created on : 6/05/2013, 04:02:15 PM
    Author     : NAAT
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

