@media screen and (min-width: 39em){
	.wdg_gmap_01{
        
	}
	.wdg_gmap_01 .wdg_gmap_01_properties .iframe_mapgoogle{
		padding: 0;
        width: 624px;
        height: 350px;
        margin-bottom:24px; 
		height: 350px;
	}
	.wdg_gmap_01 .wdg_gmap_01_margen{
		display:block;
		height:10px;
	}
	
}