@media screen {
	
	.wdg_teams_carru_01{
	
		width:100%;
		background-color:#E3E3E3;
		margin-bottom: 0px;	
		clear:both;
		overflow:hidden;
		padding-top:20px;
		height: 275px;
	}
	
	.wdg_teams_carru_01 .wrapper{
		width:100%;
		clear:both;
		margin:auto;
		overflow: auto;
		padding:10px 20px;
		height: 300px;
		background-image:url(../global/img/degradado_vertical.png);
		background-repeat:repeat-y;
		background-position: right;
	}
	
	.wdg_teams_carru_01 .titulo_bar{
		width: 100%;
		margin:auto;
		clear:both;
		margin-bottom:20px;
		overflow:hidden;
		
	}
	
	
	.wdg_teams_carru_01 .titulo_bar .titulo{
		font-size:16px;
		float:left;
		font-style:italic;
	}
	
	.wdg_teams_carru_01 .titulo_bar .mostrar,
	.wdg_teams_carru_01 .titulo_bar .ocultar{
		float:right;
		font-style:italic;
		font-weight:bold;
	}
	.wdg_teams_carru_01 .titulo_bar .mostrar a,
	.wdg_teams_carru_01 .titulo_bar .ocultar a{
		font-size:12px;
	}
	
	.wdg_teams_carru_01 .titulo_bar .mostrar a{
		display:none;
	}
	
	.wdg_teams_carru_01 .wrapper .row{
		width:800px;
		clear:both;
		height:80px;
		margin-bottom:30px;
	}
	
	.wdg_teams_carru_01 .wrapper .row .liga_name{
		width:100%;
		text-align:left;
		float:none;
		margin-right: 20px;
		font-size: 14px;
		margin-bottom: 15px;
	}
	
	.wdg_teams_carru_01 .wrapper .row .equipos{
		width:210px;
		float:left;
		border-top: 1px solid #999;
	}
	
	.wdg_teams_carru_01 .wrapper .row .striked{
		width:50px;
		margin: auto;
		margin-top:-10px;
		background-color:#E2E2E2;
		color:#999;
		padding:0 10px;
		text-align:center;
		font-size:11px;
		font-style:italic;
	}
	
	.wdg_teams_carru_01 .wrapper .row .equipo{
		float: left;
		margin:4px 8px;
		text-align:center;
		font-size:12px;
	}
	
	.wdg_teams_carru_01 .wrapper .row .equipo img{
		display:block;
	}
	
	.wdg_teams_carru_01 .wrapper .row .vseparator{
		width:2px;
		height:50px;
		border-right:1px dashed #666;
		float:left;
		margin:0 10px;
	}
	
	
	
	
	.wdg_teams_carru_01 .type1a .carrusel.iOS {
	    overflow: scroll;
	    height: 200px;
	    /*-webkit-overflow-scrolling: touch;*/
	}
	.wdg_teams_carru_01 .type1a .carrusel.iOS ul {
	  -webkit-touch-callout: none;
	  -webkit-user-select: none;
	  -khtml-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	
}